<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" >
                <div class="form-data" >
                    <div class=""> 
                        <input class="text-center col-6"  type="email" id="mail" placeholder="E-MAIL" style="margin-left: 150px;" />
                    </div>
                    <br/>
                    <div class="">  
                        <input class="text-center col-6" type="password" id="pass"  placeholder="PASSWORD" style="margin-left: 150px;"/>    
                    </div>
                    <br/>
                    <div class=""> 
                        <button  class="btn btn-dark col-6" style="margin-left: 150px;" (click)="valAdmin()"  >Login</button> 
                    </div>
                     <br>
                    <div class="" >
                        <button class="btn btn-primary col-6" style="margin-left: 150px;">registrar</button>
                    </div>
                    </div>
                <div class="container">
                    
                        
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
